<div id="footer">
	<div id="AboutUs">
		<strong style="color:black;font-size: 20px;">About Us</strong><br><br>
		Music has been infusing joy into our lives since time immemorial. From the beautiful sounds of nature to the songs we hear on our phones, music is all around us! Soor Malhar aims to provide quality music lessons that will enable music learners across the globe to create the joy for themselves and others alike. Come, let's feel the magic of melodies!
	</div>

	<div id="Guitar">
		<b style="color:black;font-size: 20px;">Guitar<br><br></b>
		<b>Full Packages<br>
		Level 1<br>
		Level 2<br>
		Level 3<br>
		Level 4<br>
		Songs</b>
	</div>
	<div id="Keyboard">
		<b style="color:black;font-size: 20px;">Keyboard</b><br><br>
		<b>Full Packages<br>
		Level 1<br>
		Level 2<br>
		Level 3<br>
		Level 4<br>
		Songs</b>
	</div>
	<div id="Vocals">
		<b style="color:black;font-size: 20px;">Vocals</b><br><br>
		<b>Full Packages<br>
		Level 1<br>
		Level 2<br>
		Level 3<br>
		Level 4<br>
		Songs</b>
	</div>
	<div id="Connect">
		<b style="color:black;font-size: 20px;">Connect</b><br><br>
		<i class="fa-solid fa-phone-flip"></i><a href="tel: +91 9898332520" style="text-decoration: none;">  +91 9898332520</a><br><br>
		<i class="fa-solid fa-envelope"></i><a href="mailto: soormalharmusic@gmail.com" style="text-decoration: none;">  soormalharmusic@gmail.com</a><br><br>
		<i class="fa-solid fa-house"></i>  GF 11-12 Nandanvan complex, Nandalay haveli, Rameshwar temple road, Harinagar, Gotri Road, Vadodara, Gujarat, India - 390023<br><br>
		<i class="fa-solid fa-map"></i>  Visit us on Google Maps<br><br>
		<a href="" style="color: blue"><i class="fa-brands fa-facebook-square"></i></a>    
		<a href="" style="color: blue"><i class="fa-brands fa-instagram"></i></a>   
		<a href="" style="color: blue"><i class="fa-brands fa-youtube"></i></a>
		</div><br>
	</div>
</div>

