<div id="Header">
  
  <div id="HeaderImage">
  <a href="/">
  <%= image_tag "soormalhar-logo-2.png", style: 'align:left;height:3vw;width:8vw' %>
  </a>
  </div>
  <input type="text" id="SearchBox" placeholder="          Search Courses"></input>
  <div id="SearchIcon">
    <%= image_tag "search.png", style: 'height:1.5vw;width:1.5vw;align:left' %>
  </div>

  <div id="links">
  <div class="ls"><a href="/" style="text-decoration: none;""><b>Home</b></a></div>
  <div class="ls"><a><b>All Courses</b></a></div>
  <div class="ls"><a><b>Posts</b></a></div>
  <div class="ls"><a><b>Log In</b></a></div>
  </div>
  <div id="SignUp">
  <b>Sign Up</b>
  </div>
</div>